*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root{
    width: 80%;
    height: 70vh;
    margin: 60px auto;
    background-color: #000;
    text-align: center;
}
h1{
    padding-top: 100px;
    color: #000;
    margin: 20px;
    text-shadow: 3px 3px 3px #fff, -3px -3px 3px #fff;
}
.btn{
    padding: 20px 40px;
    font-size: 22px;
    color: #000;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    cursor: pointer;
    outline: none;
}